# Front
/react/node_modules

# Back
/fastapi_backend/venv
/fastapi_backend/static/*.repo_cfg
/fastapi_backend/static/*/*.rpm
/fastapi_backend/__pycache__
/fastapi_backend/routers/__pycache__
/fastapi_backend/shared_resources/__pycache__