# Front
/react/node_modules
/react/public/*.repo_cfg

# Back
/fastapi/venv
/fastapi/static/*.repo_cfg
/fastapi/static/*/*.rpm
/fastapi/__pycache__
/fastapi/routers/__pycache__
/fastapi/static/gfa-vdct-1.0-1.el9.noarch.rpm
