# Front
/react/node_modules
/react/public/*.repo_cfg
/react/public/env-config.js
/react/src/auth/auth-config.ts

# Back
/fastapi_backend/venv
/fastapi_backend/static/*.repo_cfg
/fastapi_backend/static/*/*.rpm
/fastapi_backend/__pycache__
/fastapi_backend/routers/__pycache__
