services:
  rpm_backend:
    image: "ghcr.io/paulscherrerinstitute/rpmpackages_ui-backend:latest"
    container_name: rpm_backend
    restart: unless-stopped
    environment:
      RPM_PACKAGES_DIRECTORY: "/app/packages/rhel7;/app/packages/rhel8;/app/packages/rhel9"
      RPM_PACKAGES_CONFIG_ENDING: "${RPM_PACKAGES_CONFIG_ENDING:-.repo_cfg}"
    volumes:
      - "C:\\PathToSharedParent:/app/packages"
    networks:
      - rpmpackages_network
  rpm_frontend:
    image: "ghcr.io/paulscherrerinstitute/rpmpackages_ui-frontend:latest"
    restart: unless-stopped
    container_name: rpm_frontend
    environment:
      RPM_PACKAGES_CONFIG_ENDING: "${RPM_PACKAGES_CONFIG_ENDING:-.repo_cfg}"
      RPM_PACKAGES_INTERNAL_BACKEND_URL: "${RPM_PACKAGES_INTERNAL_BACKEND_URL:-http://rpm_backend:8080}"
    ports:
      - "80:80"
    networks:
      - rpmpackages_network
networks:
  rpmpackages_network:
    driver: bridge
