services:
  backend:
    build:
      context: ./fastapi
      dockerfile: Dockerfile
    container_name: rpm_backend
    # image: rpmpackages_ui_backend:latest
    restart: unless-stopped
    environment:
      RPM_PACKAGES_DIRECTORY: "D:/Git"
      RPM_PACKAGES_CONFIG_ENDING: ".repo_cfg"
    ports:
      - "8080:8080"
    networks:
      - rpmpackages_network
  frontend:
    build:
      context: ./react
      dockerfile: Dockerfile
    container_name: rpm_frontend
    # image: rpmpackages_ui_frontend:latest
    restart: unless-stopped
    environment:
      RPM_PACKAGES_CONFIG_ENDING: ".repo_cfg"
      RPM_PACKAGES_BACKEND_URL: "http://localhost:8080"
    ports:
      - "80:80"
    networks:
      - rpmpackages_network
networks:
  rpmpackages_network:
    driver: bridge
