services:
  backend:
    build:
      context: ./fastapi_backend
      dockerfile: Dockerfile
    container_name: rpm_backend
    # image: rpmpackages_ui_backend:latest
    restart: unless-stopped
    environment:
      RPM_PACKAGES_DIRECTORY: "/app/packages"
      RPM_PACKAGES_CONFIG_ENDING: "${RPM_PACKAGES_CONFIG_ENDING:-.repo_cfg}"
    volumes:
      - "${RPM_PACKAGES_DIRECTORY}:/app/packages"
    networks:
      - rpmpackages_network
  frontend:
    build:
      context: ./react
      dockerfile: Dockerfile
    container_name: rpm_frontend
    # image: rpmpackages_ui_frontend:latest
    restart: unless-stopped
    environment:
      RPM_PACKAGES_CONFIG_ENDING: "${RPM_PACKAGES_CONFIG_ENDING:-.repo_cfg}"
      RPM_PACKAGES_INTERNAL_BACKEND_URL: "${RPM_PACKAGES_INTERNAL_BACKEND_URL:-http://rpm_backend:8080}"
      RPM_PACKAGES_PUBLIC_BACKEND_URL: "/api"
    ports:
      - "80:80"
    networks:
      - rpmpackages_network
networks:
  rpmpackages_network:
    driver: bridge
