name: Auto Release

on:
    push:
        tags:
            - "v*"

jobs:
    create-release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            - name: Release
              uses: softprops/action-gh-release@v2