name: Lint and Test Backend

on:
    push:
        branches:
            - main
    pull_request:

permissions:
    contents: read

jobs:
    lint:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./fastapi_backend

        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-python@v6
            - run: |
                  pip install --upgrade pip
                  pip install ruff
            - run: ruff check --output-format=github .

    # test:
    #     runs-on: ubuntu-latest
    #     defaults:
    #         run:
    #             working-directory: ./fastapi_backend
    #     steps:
    #         - uses: actions/checkout@v5
    #         - uses: actions/setup-python@v6
    #         - run: |
    #             pip install --upgrade pip
    #             pip install -r testing_requirements.txt
    #         - run: pytest .