name: Lint and Test Frontend

on:
    push:
        branches:
            - main
    pull_request:

permissions:
    contents: read

jobs:
    lint:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./react
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "24"

            - name: Install dependencies
              run: npm ci
              env:
                  CI: true
            - name:
                  Lint
                  # Use npx eslint here so we can pass the explicit config file and include TS files
              run: npx eslint --config eslint.config.js src --ext .js,.jsx,.ts,.tsx
              env:
                  CI: true

    test:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./react

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "24"

            - name: Install dependencies
              run: npm ci
              env:
                  CI: true

            - name: Run tests
              run: npm test
              env:
                  CI: true
